<!DOCTYPE html>
<html>
    <head>
        <title>CMARC Startseite</title>
        <link rel="shortcut icon" href="/static/img/favicon.svg" type="image/svg+xml">
        <style>
            table, th, td {
                border: 1px solid #000;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div style="width: 55ch;">
            <img src="/static/img/logo.svg" alt="" style="width: 100%; margin-bottom: 1em;">
            <table style="width: 100%;">
                <tr>
                    <th>Eigene Schlüssel</th>
                    <th>Schlüssel suchen</th>
                    <th>Noch keine Schlüssel?</th>
                </tr>
                <tr>
                    <td>
                        <a href="/self"><button type="button">Einloggen</button></a>
                    </td>
                    <td>
                        <a href="/lookup"><button type="button">Lookup</button></a>
                    </td>
                    <td>
                        <a href="/generate"><button type="button">Registrieren</button></a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>

